In [2]:
from urllib.request import urlretrieve

In [3]:
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

urlretrieve(italy_covid_url, 'italy-covid-daywise.csv')

('italy-covid-daywise.csv', <http.client.HTTPMessage at 0x2723be6a510>)

In [4]:
import pandas as pd

In [5]:
# Data from the file is read and stored in a `DataFrame` object - one of the core 
# data structures in Pandas for storing and working with tabular data. We typically
# use the `_df` suffix in the variable names for dataframes.
covid_df=pd.read_csv('italy-covid-daywise.csv')

In [6]:
type(covid_df)

pandas.core.frame.DataFrame

In [7]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [8]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [9]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [10]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

Here's a summary of the functions & methods we've looked at so far:

* `pd.read_csv` - Read data from a CSV file into a Pandas `DataFrame` object
* `.info()` - View basic infomation about rows, columns & data types
* `.describe()` - View statistical information about numeric columns
* `.columns` - Get the list of column names
* `.shape` - Get the number of rows & columns as a tuple

In [11]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [12]:
covid_df_copy=covid_df.copy()

In [13]:
covid_df.loc[2]

date          2020-01-02
new_cases            0.0
new_deaths           0.0
new_tests            NaN
Name: 2, dtype: object

In [14]:
covid_df.tail(3)

           date  new_cases  new_deaths  new_tests
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [15]:
covid_df.tail(5)

           date  new_cases  new_deaths  new_tests
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

### analyzing data from data frames

In [16]:
# Similar to Numpy arrays, a Pandas series supports
# the sum method to answer these questions.

total_cases = covid_df.new_cases.sum()
total_deaths = covid_df.new_deaths.sum()

print('The number of reported cases is {} and the number of reported deaths is {}.'.
      format(int(total_cases), int(total_deaths)))

The number of reported cases is 271515 and the number of reported deaths is 35497.

### querying and sorting rows

In [18]:
high_new_cases=covid_df.new_cases>1000

In [19]:
high_new_cases

0      False
1      False
2      False
3      False
4      False
       ...
243     True
244     True
245    False
246    False
247     True
Name: new_cases, Length: 248, dtype: bool

In [20]:
covid_df[high_new_cases]

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

### working with dates

In [23]:
covid_df.date

0      2019-12-31
1      2020-01-01
2      2020-01-02
3      2020-01-03
4      2020-01-04
          ...
243    2020-08-30
244    2020-08-31
245    2020-09-01
246    2020-09-02
247    2020-09-03
Name: date, Length: 248, dtype: object

In [25]:
covid_df['date']=pd.to_datetime(covid_df.date)

In [26]:
covid_df['date']

0     2019-12-31
1     2020-01-01
2     2020-01-02
3     2020-01-03
4     2020-01-04
         ...
243   2020-08-30
244   2020-08-31
245   2020-09-01
246   2020-09-02
247   2020-09-03
Name: date, Length: 248, dtype: datetime64[ns]

In [27]:
covid_df['year'] = pd.DatetimeIndex(covid_df.date).year
covid_df['month'] = pd.DatetimeIndex(covid_df.date).month
covid_df['day'] = pd.DatetimeIndex(covid_df.date).day
covid_df['weekday'] = pd.DatetimeIndex(covid_df.date).weekday

In [28]:
covid_df

          date  new_cases  new_deaths  new_tests  year  month  day  weekday
0   2019-12-31        0.0         0.0        NaN  2019     12   31        1
1   2020-01-01        0.0         0.0        NaN  2020      1    1        2
2   2020-01-02        0.0         0.0        NaN  2020      1    2        3
3   2020-01-03        0.0         0.0        NaN  2020      1    3        4
4   2020-01-04        0.0         0.0        NaN  2020      1    4        5
..         ...        ...         ...        ...   ...    ...  ...      ...
243 2020-08-30     1444.0         1.0    53541.0  2020      8   30        6
244 2020-08-31     1365.0         4.0    42583.0  2020      8   31        0
245 2020-09-01      996.0         6.0    54395.0  2020      9    1        1
246 2020-09-02      975.0         8.0        NaN  2020      9    2        2
247 2020-09-03     1326.0         6.0        NaN  2020      9    3        3

[248 rows x 8 columns]

In [30]:
#Query the rows for may
covid_df_may=covid_df[covid_df.month==5]
covid_df_may

          date  new_cases  new_deaths  new_tests  year  month  day  weekday
122 2020-05-01     1872.0       285.0    43732.0  2020      5    1        4
123 2020-05-02     1965.0       269.0    31231.0  2020      5    2        5
124 2020-05-03     1900.0       474.0    27047.0  2020      5    3        6
125 2020-05-04     1389.0       174.0    22999.0  2020      5    4        0
126 2020-05-05     1221.0       195.0    32211.0  2020      5    5        1
127 2020-05-06     1075.0       236.0    37771.0  2020      5    6        2
128 2020-05-07     1444.0       369.0    13665.0  2020      5    7        3
129 2020-05-08     1401.0       274.0    45428.0  2020      5    8        4
130 2020-05-09     1327.0       243.0    36091.0  2020      5    9        5
131 2020-05-10     1083.0       194.0    31384.0  2020      5   10        6
132 2020-05-11      802.0       165.0    25823.0  2020      5   11        0
133 2020-05-12      744.0       179.0    39620.0  2020      5   12        1
134 2020-05-13     1402.0       172.0    37049.0  2020      5   13        2
135 2020-05-14      888.0       195.0    41131.0  2020      5   14        3
136 2020-05-15      992.0       262.0    39027.0  2020      5   15        4
137 2020-05-16      789.0       242.0    40657.0  2020      5   16        5
138 2020-05-17      875.0       153.0    33505.0  2020      5   17        6
139 2020-05-18      675.0       145.0    26101.0  2020      5   18        0
140 2020-05-19      451.0        99.0    40226.0  2020      5   19        1
141 2020-05-20      813.0       162.0    38617.0  2020      5   20        2
142 2020-05-21      665.0       161.0    40644.0  2020      5   21        3
143 2020-05-22      642.0       156.0    42987.0  2020      5   22        4
144 2020-05-23      652.0       130.0    42579.0  2020      5   23        5
145 2020-05-24      669.0       119.0    34206.0  2020      5   24        6
146 2020-05-25      531.0        50.0    20676.0  2020      5   25        0
147 2020-05-26      300.0        92.0    33944.0  2020      5   26        1
148 2020-05-27      397.0        78.0    37299.0  2020      5   27        2
149 2020-05-28      584.0       117.0    39838.0  2020      5   28        3
150 2020-05-29      593.0        70.0    38233.0  2020      5   29        4
151 2020-05-30      516.0        87.0    36051.0  2020      5   30        5
152 2020-05-31      416.0       111.0    28948.0  2020      5   31        6

In [32]:
#Extract the subset of columns to be aggregated
covid_df_may_metrices = covid_df_may[['new_cases','new_deaths','new_tests']]
covid_df_may_metrices

     new_cases  new_deaths  new_tests
122     1872.0       285.0    43732.0
123     1965.0       269.0    31231.0
124     1900.0       474.0    27047.0
125     1389.0       174.0    22999.0
126     1221.0       195.0    32211.0
127     1075.0       236.0    37771.0
128     1444.0       369.0    13665.0
129     1401.0       274.0    45428.0
130     1327.0       243.0    36091.0
131     1083.0       194.0    31384.0
132      802.0       165.0    25823.0
133      744.0       179.0    39620.0
134     1402.0       172.0    37049.0
135      888.0       195.0    41131.0
136      992.0       262.0    39027.0
137      789.0       242.0    40657.0
138      875.0       153.0    33505.0
139      675.0       145.0    26101.0
140      451.0        99.0    40226.0
141      813.0       162.0    38617.0
142      665.0       161.0    40644.0
143      642.0       156.0    42987.0
144      652.0       130.0    42579.0
145      669.0       119.0    34206.0
146      531.0        50.0    20676.0
147      300.0        92.0    33944.0
148      397.0        78.0    37299.0
149      584.0       117.0    39838.0
150      593.0        70.0    38233.0
151      516.0        87.0    36051.0
152      416.0       111.0    28948.0

In [35]:
#get the column - wise sum
covid_may_totals = covid_df_may_metrices.sum()
covid_may_totals

new_cases       29073.0
new_deaths       5658.0
new_tests     1078720.0
dtype: float64

In [36]:
type(covid_may_totals)

pandas.core.series.Series

In [37]:
# in single statement
covid_df[covid_df.month==5][['new_cases','new_deaths','new_tests']].sum()

new_cases       29073.0
new_deaths       5658.0
new_tests     1078720.0
dtype: float64

lets check if the number of cases reported on sundays is higher than the average number of cses reported every day. This time, we might wan to aggregate using the .mean method

In [38]:
#overall average
covid_df.new_cases.mean()

1094.8185483870968

In [39]:
#average for sundays
covid_df[covid_df.weekday==6].new_cases.mean()

1247.2571428571428

In [41]:
# it seems like more cases were reported on sundays compared to other days.

### Grouping and aggregation

as a next step we might want to summarize the daywise data and create a new dataframe with month wise data. This is where the groupy function is useful. ALong with a grouping, we need to specify a way to aggregate the data for each group

In [42]:
monthly_groups=covid_df.groupby('month')

In [46]:
covid_month_df=monthly_groups[['new_cases','new_deaths','new_tests']]
covid_month_df.sum()

       new_cases  new_deaths  new_tests
month
1            3.0         0.0        0.0
2          885.0        21.0        0.0
3       100851.0     11570.0        0.0
4       101852.0     16091.0   419591.0
5        29073.0      5658.0  1078720.0
6         7772.0      1404.0   830354.0
7         6722.0       388.0   797692.0
8        21060.0       345.0  1098704.0
9         3297.0        20.0    54395.0
12           0.0         0.0        0.0

what are the average number of cases reported on every week day, means here we group by week day

In [48]:
weekly_groups=covid_df.groupby('weekday')

In [51]:
covid_weekly_df=weekly_groups[['new_cases','new_deaths','new_tests']]
covid_weekly_df.mean()

           new_cases  new_deaths     new_tests
weekday
0        1109.142857  124.800000  19826.700000
1         918.638889  129.944444  31166.900000
2         927.305556  144.750000  34665.210526
3        1095.666667  141.472222  34488.578947
4        1189.714286  144.885714  39225.684211
5        1185.800000  157.000000  34589.473684
6        1247.257143  159.457143  28588.105263

In [56]:
covid_df['total_cases']=covid_df.new_cases.cumsum()
covid_df['total_deaths']=covid_df.new_deaths.cumsum()
covid_df['total_tests']=covid_df.new_tests.cumsum()

In [57]:
covid_df

,date,new_cases,new_deaths,new_tests,year,month,day,weekday,total_cases,total_deaths,total_tests
0,2019-12-31,0.0,0.0,NaN,2019,12,31,1,0.0,0.0,NaN
1,2020-01-01,0.0,0.0,NaN,2020,1,1,2,0.0,0.0,NaN
2,2020-01-02,0.0,0.0,NaN,2020,1,2,3,0.0,0.0,NaN
3,2020-01-03,0.0,0.0,NaN,2020,1,3,4,0.0,0.0,NaN
4,2020-01-04,0.0,0.0,NaN,2020,1,4,5,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
243,2020-08-30,1444.0,1.0,53541.0,2020,8,30,6,266853.0,35473.0,4182478.0
244,2020-08-31,1365.0,4.0,42583.0,2020,8,31,0,268218.0,35477.0,4225061.0
245,2020-09-01,996.0,6.0,54395.0,2020,9,1,1,269214.0,35483.0,4279456.0
246,2020-09-02,975.0,8.0,NaN,2020,9,2,2,270189.0,35491.0,NaN
247,2020-09-03,1326.0,6.0,NaN,2020,9,3,3,271515.0,35497.0,NaN

## writing data back to file
after doing some analysis and addig new columns to the data frame, it would be a good idea to write the results back to file, otherwise the data will be lot when the jupyter notebook shuts down. Before writing to file, let up first frame containing the specific set of columns that we want to write into the file

In [58]:
result_df=covid_df[['date',
                     'new_cases',
                     'total_cases',
                     'new_deaths',
                     'total_deaths',
                     'new_tests']]

In [59]:
result_df

          date  new_cases  total_cases  new_deaths  total_deaths  new_tests
0   2019-12-31        0.0          0.0         0.0           0.0        NaN
1   2020-01-01        0.0          0.0         0.0           0.0        NaN
2   2020-01-02        0.0          0.0         0.0           0.0        NaN
3   2020-01-03        0.0          0.0         0.0           0.0        NaN
4   2020-01-04        0.0          0.0         0.0           0.0        NaN
..         ...        ...          ...         ...           ...        ...
243 2020-08-30     1444.0     266853.0         1.0       35473.0    53541.0
244 2020-08-31     1365.0     268218.0         4.0       35477.0    42583.0
245 2020-09-01      996.0     269214.0         6.0       35483.0    54395.0
246 2020-09-02      975.0     270189.0         8.0       35491.0        NaN
247 2020-09-03     1326.0     271515.0         6.0       35497.0        NaN

[248 rows x 6 columns]

In [61]:
result_df.to_csv('results.csv',index=None)